<span [ngSwitch]="page">
    <app-nav [options]="options" (callSelectO)="onSelect($event)"></app-nav>
    <span *ngSwitchDefault>
        <span class="container">
            <app-order-card *ngFor="let order of orders" [order]="order" appOnHover></app-order-card>
           </span>
           <button mat-fab class="action-btn" (click)="addNewOrder()">
            <mat-icon>add</mat-icon>
          </button>
    </span>
    <span *ngSwitchCase="'insert'">
        <app-insert></app-insert>
    </span>
    <span *ngSwitchCase="'update'">
        <app-update></app-update>
    </span>
    <span *ngSwitchCase="'detail'">
        <app-detail></app-detail>
    </span>
    <span *ngSwitchCase="'get'">
        <app-get></app-get>
    </span>
    <span *ngSwitchCase="'def'">
        <span class="container">
            <app-order-card *ngFor="let order of orders" [order]="order" appOnHover></app-order-card>
           </span>
           <button mat-fab class="action-btn" (click)="addNewOrder()">
            <mat-icon>add</mat-icon>
          </button>
    </span>
    <app-splash-screen></app-splash-screen>
</span>
