<mat-table *ngIf="orders" [dataSource]="orders">
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.id}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="category">
      <mat-header-cell *matHeaderCellDef> Category </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.category}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="priority">
      <mat-header-cell *matHeaderCellDef> Prio </mat-header-cell>
      <mat-cell *matCellDef="let order"> {{order.priority}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.state}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="orderDate">
        <mat-header-cell *matHeaderCellDef> Order date </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.orderDate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="completionDate">
        <mat-header-cell *matHeaderCellDef> Completion Date </mat-header-cell>
        <mat-cell *matCellDef="let order"> {{order.completionDate}} </mat-cell>
      </ng-container>
  
    <mat-header-row *matHeaderRowDef="['id', 'category', 'priority', 'state', 'orderDate', 'completionDate']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['id', 'category', 'priority', 'state', 'orderDate', 'completionDate']"></mat-row>
  </mat-table>